@charset "UTF-8";


/* TELAS DESKTOP */






header {  /* Header -------------------------------------------------------------------------------------------------------------------- */
  padding: 0.75em max(1.5em , 3.5vw);
}




div#container-links:hover {
  box-shadow: inset 0em 0em 2em var(--color-medium-black-01);
  background-color: var(--color-darkest-black-02);
} div#container-links:hover > h2 {
  color: var(--color-lighter-white-02);
  display: block;
}


div#container-burge { display: none; }
div#container-links { display: flex; }






main {/* Main ------------------------------------------------------------------------------------------------------------------------ */
  padding: 1em;
} main > * {
  margin: 2em auto;
}






section#apres {
  flex-direction: row;
  gap: max(1em , 2vw);
  box-shadow: none;
} section#apres > div {
  border-radius: 0.75em;
}




section#apres > div:nth-of-type(1) > h2 { display: none; }
section#apres > div:nth-of-type(2) > h2 { display: block; }




section#apres > div:nth-of-type(1) {  /* Div Img */
  border-radius: 1em;
  max-height: 18em;
  border: none;
}




section#apres > div > p {  /* Div Txt */
  padding: 0.5em 1em;
} section#apres > div > h2 {
  text-indent: 0em;
  padding: 0.25em 0.5em;
}
